@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mem-card-board {
	display: flex;
	flex-wrap: wrap; /* Allows items to wrap to the next line */
	gap: 16px;
  }

.mem-card-board-item {
	/* Styling for individual flex items */
	flex: 1 1 200px; /* Allows items to grow, shrink, and have a base width */
	padding: 20px;
	border: 1px solid #ccc;
  }

.mem-card-grid {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1rem;
	max-width: 665px;
	/*margin: 2px 2px 2px 4px;*/
	padding: 0.25rem;
}

.mem-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 0.35rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
	background-color: rgba(245,245,245,0.973);
	transform-style: preserve-3d;
	transition: 400ms;
	cursor: pointer;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
	height: 150px;
	width: 100px;
	margin: 0.5rem;
}

.mem-card:hover:not(.matched) {
	--translate-y: -2px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	opacity: 1;
}

.mem-card.flipped {
	--rotate-y: 180deg;
}

.mem-card.matched {
	background-color: lightgreen;
}

.mem-card .front {
	left: 0;
}

.mem-card .front, .mem-card .back {
	position: absolute;
	/*padding: 1rem;*/
	backface-visibility: hidden;
}

.mem-card .back {
	transform: rotateY(180deg);
}

.mem-card .back p {
	max-width: 75px;
}

.card-back-img {
	width: "auto";
	height: "auto";
}